<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper" >

    <!--注册用户-->
    <insert id="register" parameterType="com.example.demo.pojo.User" >
    insert into user ( name, password,code,email,state)
    values (#{name}, #{password}, #{code},
      #{email},#{state})
  </insert>

    <!--根据激活码code查询用户-->
    <select id="checkCode" parameterType="String" resultType="com.example.demo.pojo.User">
    select * from user where code = #{code}
  </select>

    <!--激活账户，修改用户状态-->
    <update id="updateUserStatus" parameterType="com.example.demo.pojo.User">
    update user set state=1,code=null where id=#{id}
  </update>

    <!--登录,根据 status=1 进行查询-->
    <select id="loginUser" resultType="com.example.demo.pojo.User" >
    select * from user where name=#{name} and password=#{password} and state=1
  </select>
</mapper>